.form {
  font-size: 20px;
  position: relative;
}
.input {
  border-radius: 5px;
  border: none;
  line-height: 52px;
  margin-bottom: 14px;
  width: 100%;
  padding: 0 14px;
  font-size: inherit;
}

.list {
  list-style: none;
  margin: 0;
  max-height: 500px;
  overflow-y: scroll;
  padding: 0;
}

.item {
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 14px;
}

.item:last-child {
  margin-bottom: 0;
}

.item:hover {
  background-color: #424242;
}

.label {
  align-items: center;
  display: block;
  display: flex;
  height: 52px;
  padding: 0 14px;
  width: 100%;
}
.check {
}
.footer {
  padding-top: 14px;
  text-align: right;
}
.btn {
  background-color: #01aef0;
  border: none;
  color: #fff;
  font-size: inherit;
  line-height: 52px;
  padding: 0 14px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #4a89dc;
}
